{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1> Cat example </h1>
    <div>
        <div class="d-flex justify-content-center mb-5">
            <img src="https://placekitten.com/400/500?image={{ id }}" alt="a cute cat">    
        </div>
        <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-center">
                {% set saut = 0 %}
                {% set page1 = 0 %}
                {% set page2 = 1 %}
                {% set page3 = 0 %}
                {% set page4 = 0 %}
                {% set paginations = {page1: (page1), 1: (page2), 2: (page3), 3: (page4)} %}
                {% set page = 0 %}
                {% set paginations = paginations | merge({page1 : 3}) %}
                {{ dump(paginations) }}
                {#
                {% for i in range(1,16) %}
                    {% set saut = saut + 1 %}
                    {% set paginations = paginations | merge({(page): (saut)}) %}
                    {{ paginations[page] }}
                        {% if saut % 4 == 0 %}
                            {% set saut = 0 + i%}
                        {% endif %}
                    {% set page = page + 1 %}
                    {% if page % 4 == 0 %}
                        {% set page = 0%}
                    {% endif %}
                {% endfor %}
                #}
            </ul>
        </nav>
    </div>
</div>

{# <div>
    <a href="{{ path('cat', {id:id-1}) }}">photo précédent</a>
    <a href="{{ path('cat', {id:id+1}) }}">photo suivante</a>
</div> #}
{% endblock %}


{#

{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <h1> Cat example </h1>
        <div>
            <div class="d-flex justify-content-center mb-5">
                <img src="https://placekitten.com/400/500?image={{ id }}" alt="a cute cat">
            </div>
            <nav aria-label="Page navigation example ">
                <ul class="pagination justify-content-center">
                    {% set saut = 0 %}
                    {% set page1 = 0 %}
                    {% set page2 = 0 %}
                    {% set page3 = 0 %}
                    {% set page4 = 0 %}
                    {% set paginations = {0: page1, 1: page2, 2: page3, 3: page4} %}
                    {% set page = 0 %}
                    {{ id <= 1 ? '<li class="page-item disabled"><a class="page-link">Previous</a></li>'
                    : "<li class='page-item'><a class='page-link' href='#'>Previous</a></li>"  }}
                    {% for i in range(1,16) %}
                        {% set saut = saut + 1 %}
                        {% set paginations = paginations | merge({page: saut}) %}
                        <li class='page-item'><a class='page-link' href="{{ path('cat', {id:paginations[page]}) }}">{{ paginations[page] }}</a></li>
                        {% if saut % 4 == 0 %}
                            {% set saut = 0 + i%}
                        {% endif %}
                        {% set page = page + 1 %}
                        {% if page % 4 == 0 %}
                            {% set page = 0%}
                        {% endif %}
                    {% endfor %}
                    {{ id >= 16 ? '<li class="page-item disabled"><a class="page-link">Next</a></li>'
                    : "<li class='page-item'><a class='page-link' href='#'>Next</a></li>"  }}
                </ul>
            </nav>
        </div>
    </div>

    {# <div>

    <a href="{{ path('cat', {id:id-1}) }}">photo précédent</a>
    <a href="{{ path('cat', {id:id+1}) }}">photo suivante</a>
</div>
{% endblock %}
#}

